@model MobilePhoneRegistrationMVC.Models.PhoneRegistration

<h2>Register Phone</h2>

<form method="post">
<label>Owner Name</label><br />
<input name="OwnerName" /><br />

<label>Brand</label><br />
<input name="Brand" /><br />

<label>Model</label><br />
<input name="Model" /><br />

<label>IMEI</label><br />
<input name="IMEI" /><br />

<label>Insurance Provider</label><br />
<input name="InsuranceProvider" /><br /><br />

<button type="submit">Save</button>
</form>
